.resultDisplayContainer {
    border: 2px black solid;
    display: flex;
    justify-content: end;
}

.resultDisplay {
    font-weight: bold;
    padding: 0px 8px 0px 0px;
}

.numberInput:hover , .operatorInput:hover  {
    background-color: black;
    color: white;
}