body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(7, 201, 201)
}

.calculatorContainer {
    border: black solid 2px;
    display: flex;
    
}

.numberInputButton {
    padding: 8px;    
}

.operatorInputButton {
    padding: 8px;
}






